{% extends "body.html" %}

{% block content %}
	
	<!-- Content -->
	<div class="container theme-showcase" role="main">
		<div class="jumbotron">
			<h1>{{ project.name }}</h1>
			<p>{{ project.description }}</p>
            <p>{{ project.company.name }}</p>
            <a href="/project/update?name={{ project.name }}" class="btn btn-default">Update this project</a>
            <a href="/project/delete?name={{ project.name }}" class="btn btn-default">Delete this project</a>
            {% if flag %}
                <a href="/project/unmark?name={{ project.name }}" class="btn btn-default">Unmark this project</a>
            {% else %}
                <a href="/project/mark?name={{ project.name }}" class="btn btn-default">Mark this project</a>
            {% endif %}
		</div>
	</div>
    
    <div class="container" role="main">
		<div class="table-responsive">
			<table class="table table-striped sortable">
				<thead>
					<tr>
                        <th>Programming Language Required</th>
						<th>Years of Experience Required</th>
						<th>Speciality </th>
					</tr>
				</thead>
				<tbody>
                    <tr>
                        <td>{{ project.r1}}</td>
                        <td>{{ project.r2}}</td>
                        <td>{{ project.r3}}</td>
                    </tr>
				</tbody>
			</table>
		</div>
    </div>

{% endblock %}