{% extends "body.html" %}

{% block content %}

    <!-- Content -->
    <div class="container" role="main">
		<div class="table-responsive">
            <h1>Who are you?</h1>
            <a href="/StudentRegister" title="You will be able to find projects for your group.">I am a Student</a><br>
            <a href="/TeacherRegister" title="You will be able to manage your classes.">I am a Teacher</a><br>
            <a href="/EngineerRegister" title="You will be able to create projects.">I am an Engineer</a><br>
		</div>
    </div>

{% endblock %}
