{% extends "body.html" %}

{% block content %}
	<!-- Content -->
    <div class="container theme-showcase" role="main">
		<div class="jumbotron">
            <img src="/{{ university.photo }}" alt="University Image" width=150/>
			<h2>{{ course.tag }}</h2>
			<h3>{{ course.name }}</h3>
			<p>{{ course.description }}</p>
			<p>Professor: {{ course.creator }}</p>
			{% if user.get_username == course.creator %}
				<a href="/university/course/remove?name={{ university.name }}&course={{ course.tag }}" class="btn btn-default">Delete this Course</a>
				<a href="/university/course/studentform?name={{ university.name }}&course={{ course.tag }}" class="btn btn-default">Add Students</a>
			{% endif %}
		</div>
    </div>
    <div class="container" role="main">
		<div class="table-responsive">
			<table class="table table-striped sortable">
				<thead>
					<tr>
						<th>Students</th>
						<th>Action</th>
					</tr>
				</thead>
				<tbody>
					{% for item in course.members.all %}
					<tr>
						<td>{{ item.get_username }}</td>
						<td><a href="/university/course/deletestudent?name={{ university.name }}&course={{ course.tag }}&student={{ item.get_username }}" class="btn btn-default">Delete Student</a></td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
	
{% endblock %}